<%- include("layouts/header") -%>
<!-- TODO: Dashboard  -->
<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <h1 class="p-3">Total Number of Users: <%= userList.length %></h1>
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <% userList.forEach((user) => { %>
      <tr class="hover">
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td>
          <a href="/edituser/<%=user.id%>" class="edit-link"
            ><button class="btn btn-info btn-outline btn-sm">Edit</button></a
          >
        </td>
        <td>
          <a href="/deleteuser/<%=user.id%>" class="edit-link"
            ><button class="btn btn-error btn-outline btn-sm">Delete</button></a
          >
        </td>
      </tr>

      <%}) %>
    </tbody>
  </table>
</div>

<%- include("layouts/footer") -%>
