<%- include("layouts/header") -%>
<!-- TODO: Dashboard  -->
<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <h1 class="p-3">Total Number of Users: <%= count %></h1>
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <% userList.forEach((user) => { %>
      <tr class="hover">
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td>
          <a href="/edituser/<%=user.id%>" class="edit-link"
            ><button class="btn btn-info btn-outline btn-sm">Edit</button></a
          >
        </td>
        <td>
          <a href="/deleteuser/<%=user.id%>" class="edit-link"
            ><button class="btn btn-error btn-outline btn-sm">Delete</button></a
          >
        </td>
      </tr>

      <%}) %>
    </tbody>
  </table>

  <div class="pagination flex items-center justify-center p-3">
   
      <% if (totalPages > 1) { %> <% for (let page = 1; page <= totalPages;
      page++) { %> <% if (page === data.meta.page) { %>
      <button
        type="button"
        class=" btn btn-active btn-link"
        href="./userlist.ejs/?page=<%= page %>"
      ><a href="/?page=<%= page %>" class="w-3 h-3">
        <%= page %>
      </a>
      </button>
      <% } else { %>
      <button type="button" class="btn btn-link" href="./userlist.ejs/?page=<%= page %>">
        <a href="/?page=<%= page %>" class="w-3 h-3">
          <%= page %>
        </a>
      </button>
      <% } %> <% } %> <% } %>
    </div>

</div>

<%- include("layouts/footer") -%>
